body {
    font-family: 'Trebuchet MS', 'Helvetica', Arial, sans-serif;
    background: #643d87 url(/Imgs/fundo.jpg) no-repeat top center;
}

#container {
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;

}

#container img {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

#container input {
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    background-color: #fff;
    width: 80%;
    height: 40px;
    border: none;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: 10px;
    cursor: pointer;

}

#container input:focus-visible{
    outline: none;
}

input.email {
    background-image: url(Imgs/icone-usuario.png);
}

input.senha {
    background-image: url(Imgs/icone-cadeado.png);
}

input.login {
    color: #fff;
    background-color: #f79300 !important;
    border: 2px solid #db7d00 !important;
    padding: 5px 20px !important;
    height: 45px !important;
    width: 90% !important;
    background: linear-gradient(to bottom, #faa600, #f68a00);
    background-position: 0px !important;

}
input.login:hover{
    background: linear-gradient(to bottom, #f68a00, #faa600);
}